body{
  background-color: rgb(53, 42, 139);
}
.imga {
  background-image: url(./img/bbvv.jpg);
  filter: brightness(0.85);
  background-size: cover;
  width: 500px;
  height: 500px;
  border-radius: 50%;
}
.box1{
  position: relative;
  width: 400px;
  height: 75px;
  background-color: rgb(53, 42, 139);
  padding-right: 80px;
  border-radius: 10px;
  bottom: 270px;
  left: 185px;
}
.b1{
  font-size: 45px;
  font-style: normal;
  color: whitesmoke;
  padding-top: 10px;
}
.table1{
  top: 20px;
  position: relative;
  width: 480px;
  height: 300px;
  background-color: none;
}
.c1{
  position: relative;
  font-size: 15px;
  color: rgb(53, 42, 139);
  width: 150px;
  height: 110px;
  right: 165px;
  top: 20px;
  background-color: whitesmoke;
  border-radius: 10px;
}
.t1{
  position: relative;
  top: 25px;
}
.cc1{
  background-image: url(./img/maths.png);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  color: rgb(53, 42, 139);
  position: relative;
  background-color: orange;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  top: 10px;
}
.c2{
  position: relative;
  font-size: 15px;
  color: rgb(53, 42, 139);
  width: 150px;
  height: 110px;
  right: 165px;
  top: -90px;
  left: 1px;
  background-color: whitesmoke;
  border-radius: 10px;
}
.t2{
  position: relative;
  top: 25px;
}
.cc2{
  background-image: url(./img/atom.png);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  color: rgb(53, 42, 139);
  position: relative;
  background-color: orange;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  top: 10px;
}
.c3{
  position: relative;
  font-size: 15px;
  color: rgb(53, 42, 139);
  width: 150px;
  height: 110px;
  right: 165px;
  top: -200px;
  left: 168px;
  background-color: whitesmoke;
  border-radius: 10px;
}
.t3{
  position: relative;
  top: 25px;
}
.cc3{
  background-image: url(./img/medicine.png);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  color: rgb(53, 42, 139);
  position: relative;
  background-color: orange;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  top: 10px;
}
.c4{
  position: relative;
  font-size: 15px;
  color: rgb(53, 42, 139);
  width: 150px;
  height: 110px;
  right: 165px;
  bottom: 182px;
  background-color: whitesmoke;
  border-radius: 10px;
}
.t4{
  position: relative;
  top: 25px;
}
.cc4{
  background-image: url(./img/english-language.png);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  color: rgb(53, 42, 139);
  position: relative;
  background-color: orange;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  top: 10px;
}
.c5{
  position: relative;
  font-size: 15px;
  color: rgb(53, 42, 139);
  width: 150px;
  height: 110px;
  right: 165px;
  bottom: 290px;
  left: 1px;
  background-color: whitesmoke;
  border-radius: 10px;
}
.t5{
  position: relative;
  top: 25px;
}
.cc5{
  background-image: url(./img/technology.png);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  color: rgb(53, 42, 139);
  position: relative;
  background-color: orange;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  top: 10px;
}
.c6{
  position: relative;
  font-size: 15px;
  color: rgb(53, 42, 139);
  width: 150px;
  height: 110px;
  right: 165px;
  bottom: 402px;
  left: 168px;
  background-color: whitesmoke;
  border-radius: 10px;
}
.t6{
  position: relative;
  top: 25px;
}
.cc6{
  background-image: url(./img/smart-watch.png);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  color: rgb(53, 42, 139);
  position: relative;
  background-color: orange;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  top: 10px;
}
.text1{
  position: relative;
  font-style: normal;
  font-size: 40px;
  color: whitesmoke;
  top: 80px;
}
.table2{
  top: 100px;
  position: relative;
  width: 850px;
  height: 350px;
  background-color: none;
}
.c7{
  background-image: url(./img/fg.jpg);
  background-size: 220px;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 10px;
  background-color: whitesmoke;
  position: relative;
  width: 240px;
  height: 320px;
  right: 245px;
  border-radius: 10px;
  top: -250px;
}
.text2{
  position: relative;
  top: 250px;
}
.c8{
  background-image: url(./img/22.jpg);
  background-size: 220px;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 10px;
  background-color: whitesmoke;
  position: relative;
  width: 240px;
  height: 320px;
  right: -10px;
  border-radius: 10px;
  top: -570px;
}
.text3{
  position: relative;
  top: 250px;
}
.c9{
  background-image: url(./img/fgfgg.jpg);
  background-size: 220px;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 10px;
  background-color: whitesmoke;
  position: relative;
  width: 240px;
  height: 320px;
  right: -265px;
  border-radius: 10px;
  top: -890px;
}
.text4{
  position: relative;
  top: 250px;
}
.text5{
  position: relative;
  text-align: center;
  top: -770px;
  font-size: 40px;
  color: whitesmoke;

}
.liney{
  position: relative;
  background-color: orange;
  width: 20000px;
  height: 220px;
  margin-top: -650px;
  right: 30px;
}
.txt1{
  color: rgb(53, 42, 139);
  margin-right: 110px;
  padding-top: 10px;
  width: 150px;
}
.txt2{
  color: rgb(53, 42, 139);
  margin-right: 110px;
  padding-top: 10px;
  width: 200px;
}
.txt3{
  color: rgb(53, 42, 139);
  margin-right: 110px;
  padding-top: 10px;
  width: 140px;
}
.grey{
  font-size: 14px;
  width: 220px;
  margin: 7px;
  color: grey;
}
.q1{
  position: relative;
  background-color: whitesmoke;
  width: 230px;
  height: 160px;
  left: -240px;
  border-radius: 10px;
  top: -290px;
}
.q2{
  position: relative;
  background-color: whitesmoke;
  width: 230px;
  height: 160px;
  left: 10px;
  border-radius: 10px;
  top: -450px;
}

.q3{
  position: relative;
  background-color: whitesmoke;
  width: 230px;
  height: 160px;
  left: 260px;
  border-radius: 10px;
  top: -610px;
}
.q4{
  position: relative;
  background-color: whitesmoke;
  width: 230px;
  height: 160px;
  left: -240px;
  border-radius: 10px;
  top: -590px;
}
.q5{
  position: relative;
  background-color: whitesmoke;
  width: 230px;
  height: 160px;
  left: 10px;
  border-radius: 10px;
  top: -750px;
}

.q6{
  position: relative;
  background-color: whitesmoke;
  width: 230px;
  height: 160px;
  left: 260px;
  border-radius: 10px;
  top: -910px;
}
.bg1{
  top: -800px;
  left: -150px;
  position: relative;
  width: 350px;
  height: 250px;
 
}
.text6{
  position: relative;
  font-size: 50px;
  left: -90px;
  color: whitesmoke;
  
}
.m1{
  font-size: 15px;
}
.text7{
  position: relative;
  font-size: 50px;
  left: 90px;
  color: whitesmoke;
  top: -75px;
}
.m2{
  font-size: 15px;
}
.text8{
  position: relative;
  font-size: 50px;
  left: -90px;
  color: whitesmoke;
  top: -25px;
}
.m3{
  font-size: 15px;
}
.text9{
  position: relative;
  font-size: 50px;
  left: 90px;
  color: whitesmoke;
  top: -100px;
}
.m4{
  font-size: 15px;
}
.text10{
  position: relative;
  bottom: 1000px;
  font-size: 28px;
  color: whitesmoke;
  left: 200px;
}
.button1{
  position: relative;
  background-color: orange;
  width: 160px;
  height: 40px;
  bottom: 980px;
  left: 130px;
  border-radius: 25px;
}
.txt4{
  color: rgb(53, 42, 139);
  font-size: 13px;
  padding-top: 12px;
}
.imgb {
  position: relative;
  background-image: url(./img/jhj.jpg);
  filter: brightness(0.85);
  background-size: cover;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  bottom: 2000px;
  left: 100px;
}
.box2{
  position: relative;
  width: 350px;
  height: 350px;
  background-color: whitesmoke;
  padding-right: 80px;
  border-radius: 10px;
  top: -2300px;
  left: -220px;
}
.b2{
  position: relative;
  font-size: 40px;
  font-style: normal;
  color: black;
  left: -40px;
  top: -20px;
}
.b3{
  position: relative;
  font-size: 22px;
  width: 400px;
  margin-top: 20px;
  margin-left: 60px;
}
.button2{
  position: relative;
  background-color: orange;
  width: 160px;
  height: 40px;
  bottom: -250px;
  left: -70px;
  border-radius: 25px;
}
.st1{
  position: relative;
  width: 1000px;
  height: 300px;
  top: 200px;
}
.text11{
  position: relative;
  font-size: 14px;
  color: black;
  right: 300px;
  width: 320px;
}
.text12{
  position: relative;
  font-size: 14px;
  color: black;
  left: 300px;
  width: 320px;
  top: -50px;
}
.text13{
  position: relative;
  font-size: 14px;
  color: black;
  right: 300px;
  width: 320px;
  top: -100px;
}
.header1{
  position: relative;
  font-size: 26px;
  left: -220px;
  padding: 15px;
  color: rgb(53, 42, 139);
}
.header2{
  position: relative;
  font-size: 26px;
  left: 220px;
  padding: 15px;
  color: rgb(53, 42, 139);
  top: -50px;
}
.header3{
  position: relative;
  font-size: 26px;
  left: -220px;
  padding: 15px;
  color: rgb(53, 42, 139);
  top: -100px;
}
.bg6{
  position: relative;
  background-color: whitesmoke;
  width: 50000px;
  height: 10px;
  padding-top: 1100px;
  left: -5000px;
  top: -600px;
}


.r1{
  background-image: url(./img/758b5559-c3ba-4155-a732-78d6fab8bfcd.jpg);
  filter: brightness(0.8);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  position: relative;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  top: -330px;
  
}
.bg3{
  position: relative;
  background-color: orange;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  top: -140px;
}
.r2{
  background-image: url(./img/a7c767cf-3a26-4f01-874d-14261d2c39a7.jpg);
  filter: brightness(0.7);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  position: relative;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  top: -380px;
  
}
.bg4{
  position: relative;
  background-color: orange;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  top: -190px;
}
.r3{
  background-image: url(./img/e916e899-9128-4aac-8760-007d5815c973.jpg);
  filter: brightness(0.8);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  position: relative;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  top: -430px;
  
}
.bg5{
  position: relative;
  background-color: orange;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  top: -240px;
}
.table4{
  position: relative;
  background-color: white;
  color: rgb(53, 42, 139);
  width: 1200px;
  height: 350px;
  border-radius: 18px;
  left: -100px;
  top: 380px;
}
.text14{
  padding-top: 150px;
}
.imgc{
  position: absolute;
  background-image: url(./img/444.jpg);
  width: 350px;
  height: 350px;
  background-size: cover;
  border-radius: 50%;
  left: 425px;
  top: -240px;
}
.text15{
  position: relative;
  color: white;
  top: 70px;
  font-size: 26px;
}
.bg7{
  position: relative;
  background-color: white;
  width: 50000px;
  height: 1200px;
  left: -5000px;
  top: 500px;
}
.imgd{
  position: absolute;
  background-image: url(./img/ddf.jpg);
  width: 500px;
  height: 500px;
  background-size: cover;
  filter: brightness(0.78);
  top: 2000px;
  left: -60px;
}
.txt5{
  position: relative;
  font-size: 50px;
  width: 1000px;
  left: 200px;
  top: -640px;
}
.contacts{
  position: relative;
  left: 350px;
  top: -600px;
  width: 80px;
}
.button3{
  position: relative;
  background-color: rgb(53, 42, 139);
  width: 400px;
  height: 60px;
  color: white;
  bottom: 550px;
  left: 500px;
  padding-top: 5px;
  font-size: 30px;
  border-radius: 25px;
}
.txt8{
  font-size: 20px;
  color: gray;
}
.w1{
  position: relative;
  width: 350px;
  height: 150px;
  background-color: rgb(53, 42, 139);
  color: white;
  bottom: 440px;
  left: -60px;
  border-radius: 25px;
}
.txt6{
  position: relative;
  color: white;
  font-size: 25px;
  left: -80px;
  padding-top: 15px;
}
.txt7{
  position: relative;
  color: white;
  font-size: 18px;
  left: -80px;
  padding-top: 15px;
}
.w2{
  position: relative;
  width: 350px;
  height: 150px;
  background-color: rgb(53, 42, 139);
  color: white;
  bottom: 590px;
  left: 320px;
  border-radius: 25px;
}
.txt9{
  position: relative;
  color: white;
  font-size: 25px;
  left: -80px;
  padding-top: 15px;
}
.txt10{
  position: relative;
  color: white;
  font-size: 18px;
  left: 80px;
  padding-top: 15px;
}
.w3{
  position: relative;
  width: 350px;
  height: 150px;
  background-color: rgb(53, 42, 139);
  color: white;
  bottom: 740px;
  left: 700px;
  border-radius: 25px;
}
.txt11{
  position: relative;
  color: white;
  font-size: 25px;
  left: -100px;
  padding-top: 15px;
}
.txt12{
  position: relative;
  color: white;
  font-size: 18px;
  left: 60px;
  padding-top: 15px;
}