:root {
    --main-white: #ffffff;
    --main-pink: #f9cacd;
    --main-grey: #cecece;
    --main-purpure: #b6b2e6;
   }
   
   body { margin: 0 }
   
   .container {
    width: 60%;
    max-width: 1200px;
    min-width: 900px;
   
    margin: auto;
   
    >header {
     display: flex;
     >li {
      list-style-type: none;
      padding: 20px 15px;
      cursor: pointer;
      transition: 0.25s;
      &:hover {
       color: var(--main-purpure)
      }
     }
    }
   
    .main-picture {
     box-sizing: border-box;
     margin: 25px 0;
     width:100%;
     height: 600px;
     background-image: url('./la.jpeg');
     background-position: center;
     background-size: cover;
     border-radius: 25px;
     position: relative;
     overflow: hidden;
   
     color: whitesmoke;
   
     .filter {
      width:100%;
      height: 100%;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.25);
     }
   
     >div:nth-child(2) {
      position: absolute;
      z-index: 2;
      width:100%;
      height: 100%;
   
      box-sizing: border-box;
      padding: 30px;
   
      display: flex;
      flex-direction: column;
   
      justify-content: center;
   
      .title {
       font-size: 3.5em;
       font-weight: bolder;
      }
      .description {
       font-size: 1em;
       margin: 10px 0;
      }
   
      >div:last-child {
       width:50%;
       background-color: var(--main-grey);
       padding: 10px;
       border-radius: 20px;
   
       display: flex;
       /* justify-content: center; */
       align-items: center;
   
       >input:focus-visible {
        outline: none;
       }
   
       >input {
        border: none;
        padding: 15px;
        border-radius: 15px;
        flex-grow: 3;
       }
   
       >button {
        background-color: black;
        padding: 15px;
        color: whitesmoke;
        text-transform: uppercase;
        border-radius: 15px;
        margin-left: 15px;
       }
      }
     }
    }
   }
   
   .cities-wrap {
    width:100%;
    background-color: var(--main-pink);
   }
   
   .cities {
    box-sizing: border-box;
    height: 790px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    row-gap: 20px;
    column-gap: 20px;
    padding: 35px 0;
   
    >.item {
     width: 100%;
     height: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
   
     .title {
      font-size: 1.25em;
      font-weight: bolder;
      text-align: center;
      margin: 10px 0;
     }
   
     .description {
      font-size: 0.75em;
      text-align: center;
     }
   
     .item-picture {
      border-radius: 50%;
      aspect-ratio: 1/1;
      width: 65%;
      background-position: center;
      background-size: cover;
     }
   
     >.item-picture[city="paris"] {
      background-image: url('./paris.jpeg');
     }
   
     >.item-picture[city="New York"] {
      background-image: url('./pexels-photo-325185.jpeg');
     }
   
     >.item-picture[city="Los Angeles"] {
      background-image: url('./la.jpeg');
     }
   
     >.item-picture[city="Chicago"] {
      background-image: url('./pexels-photo-1029615.jpeg');
     }
   
     >.item-picture[city="Verona"] {
      background-image: url('./pexels-photo-2090651.jpeg');
     }
   
     >.item-picture[city="Tokio"] {
      background-image: url('./pexels-photo-1769369.jpeg');
     }
    }
   }
.text1{
    position: relative;
    font-size: 3em;
    right: 500px;
    margin-top: 50px;
}
.main-picture1 {
    box-sizing: border-box;
    margin: 25px 0;
    width:1200px;
    height: 600px;
    background-image: url('./pexels-photo-325185.jpeg');
    background-position: center;
    background-size: cover;
    border-radius: 25px;
    position: relative;
}
.container-pic{
    position: relative;
    width: 1400px;
    height: 600px;
    box-sizing: border-box;
    height: 700px;
    padding-top: 50px;
}
.item-picture1 {
    position: relative;
    border-radius: 0px;
    margin: 3px;
    width: 380px;
    box-sizing: border-box;
    height: 300px;
    display: inline-flex;
    background-size: cover;
   }
 
   .item-picture1[pic="a"] {
    background-image: url('./house-isolated-field.jpg');
   }
 
   .item-picture1[pic="b"] {
    background-image: url('./apartment-building-city-with-copy-space.jpg');
   }

   .item-picture1[pic="c"] {
    background-image: url('./la.jpeg');
   }
 
   .item-picture1[pic="d"] {
    background-image: url('./pexels-photo-3874015.jpeg');
   }
 
   .item-picture1[pic="e"] {
    background-image: url('./pexels-photo-3855622.jpeg');
   }
 
   .item-picture1[pic="f"] {
    background-image: url('./low-angle-shot-facade-white-modern-building-blue-clear-sky.jpg');
   }
.container-keys{
    position: relative;
    width: 1200px;
    height: 600px;
    box-sizing: border-box;
    height: 740px;
    padding-top: 50px;
    display: inline-flex;
}
.keys{
    position: relative;
    background-image: url(./wooden-keychain-white.jpg);
    width: 550px;
    height: 650px;
    background-size: cover;
    border-radius: 30px;
    right: -40px;
}
.agents{
    position: relative;
    background-color: #edecf0;
    width: 550px;
    height: 650px;
    background-size: cover;
    border-radius: 30px;
    left: 70px;
    text-align: left;
}
.title1{
    font-size: 55px;
    margin-top: 150px;
    margin-left: 20px;
}
.description1 ul li{
    font-size: 22px;
    text-align: left;
    padding-top: 20px;
    margin: 15px 0;
}
.text2{
    position: relative;
    font-size: 3em;
    right: 350px;
    margin-top: 50px;
}
.main-picture2 {
    box-sizing: border-box;
    margin: 25px 0;
    width:1200px;
    height: 600px;
    background-image: url('./low-angle-shot-facade-white-modern-building-blue-clear-sky.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 25px;
    position: relative;
}
.end-wrap {
    width:100%;
    background-color: rgb(254, 202, 202);
    height: 300px;
   }
.gethouse{
    padding-right: 650px;
    padding-top: 50px;
    font-size: 3em;
}
.input:focus-visible {
    outline: none;
}

.i1 {
    border: none;
    padding: 15px;
    border-radius: 15px;
    flex-grow: 3;
    width: 500px;
    margin-top: 25px;
}

.b1 {
    background-color: black;
    padding: 15px;
    color: whitesmoke;
    text-transform: uppercase;
    border-radius: 15px;
    margin-left: 15px;
}
